<center><h1> ARMAGEDDON </h1></center><br><br>

<center><h2> <%= @game.player1.name %> vs. <%= @game.player2.name %> </h2></center><br>

<center><h2> <%= @game.current_player.name %>'s turn</center><br>

<center><h2> <%= @game.player1.name %>: <%= @game.player1.hp %>HP</h2></center><br>

<center><h2> <%= @game.player2.name %>: <%= @game.player2.hp %>HP</h2></center><br>

<center><form action="/attack" method="get">
  <input type="submit" value="Attack player">
</form></center>
